<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>{{ service_name }}</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>{{ installation_folder }}/{{ launcher_file_name }}</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>{{ installation_folder }}/logs/{{ app_name }}.err.log</string>

    <key>StandardOutPath</key>
    <string>{{ installation_folder }}/logs/{{ app_name }}.out.log</string>

    <key>WorkingDirectory</key>
    <string>{{ installation_folder }}</string>

</dict>
</plist>
