# Systemd unit file for {{ app_name }} service
[Unit]
Description={{ app_name }} service

[Service]
WorkingDirectory={{ installation_folder }}
ExecStart={{ installation_folder }}/{{ launcher_file_name }}

# ExecStop=/bin/pkill -15 java
# StandardOutput=syslog
# StandardError=syslog
# User={{ service_username | default(ansible_user_id) }}


[Install]
WantedBy=multi-user.target
